.carousel-item{
    height: 500px;
} 
.carousel-item img{
    height: 500px;
}
footer{
      
      margin-right: -10%;
      margin-left: -10%;
      padding-top: -20%;
}
.footer a{
      color: white;
}
.footer a:hover{
  text-decoration: underline;
  color: black;
}
.subtitle{
      color: white;

}
nav{
	margin-right: -10%;
    margin-left: -10%;
}
.navbar a{
	color: white;
}
.navbar a:hover{
  text-decoration: underline;
  color: black;
}